.card-header
{
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding: 0.5rem .25rem 0.5rem 0.25rem !important;
}

.card
{
  margin: 2% 1% 2% 1%;
  max-width: 600px;
}

.jumbotron
{
  padding: 0.25rem 0.25rem !important;
  margin-bottom: 1rem !important;
}

/* .form-input
{
  margin: 0rem 1rem 1rem 1rem;
} */
/* 
.footer {
  position: fixed;
  clear: both;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
} */

#phone
{
  font-size: 1.2rem;
}

.spacer
{
  clear: both;
}

.pointer
{
  font-size: 1rem;
  cursor: pointer;
}

.light-back
{
  /* background-color: rgba(0,0,0,.03); */
  background-color: rgb(223, 238, 195);
}

.custom-input
{
  padding: 0.25rem 1rem 0.25rem 1rem;
  margin: 0 !important;
}

.font-larger
{
  font-size: 1.5rem;
}

.data
{
  padding: 0.25rem 0rem 0.25rem 0rem;
}

a{
  cursor: pointer;
}

#selCity {
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.header-img
{
  height: 3.5rem;
  /* width: 10rem; */
  /* margin-bottom: .5rem;
  font-weight: 500;
  margin; */
  /* line-height: 1.2; */
  /* display: block; */
  /* font-size: 2em; */
  /* margin-block-start: 0.67em; */
  /* margin-block-end: 0.67em; */
}