<div id="data" ng-if="leads.noOfLeads > 0" class="row">

    <div class="col-sm-4" ng-repeat="x in leads.data" id="card-wrapper">
        <div class="card mx-auto">
            <div class="card-header row">
                <div class="float-left col text-left">
                    <span><b>{{x.name}}</b></span>
                </div>
                <div class="float-rights">
                    <div class="float-right">
                        <span>Verified: <span class="badge badge-info">{{x.lastverified}}</span></span>
                    </div>

                </div>
            </div>
            <div class="card-body row">
                <div class="float-left col text-left">
                    <span><b>Location:</b> {{x.location}}</span><br>
                    <span><b>Category:</b> {{x.category}}</span><br>
                    <span><b>Source:</b> {{x.source}}</span><br>
                    <span><b>Date:</b> {{date}}</span><br>
                    <span ng-if="x.abc"><b>ABC:</b> {{x.abc}}</span><br ng-if="x.abc">
                    <span><b>Numbers:</b> <a ng-repeat="y in numbers.split(',')" href="tel:{{y}}"> {{y}}</a>
                    </span>

                </div>
                <div class="float-right col">
                    <div class="float-right" ng-repeat="y in x.phone.split(',')">
                        <span><span class="fa fa-phone"></span> <a href="tel:{{y}}">{{y}}</a></span><br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>