<div class="text-center">
    <span ng-if="screenStatus == 'dataFetched'">Currently showing data for <b>{{citySearched}}</b> and
        <b>{{resourceSearched.displayName}}</b></span>
</div>
<hr>

<div id="messageBlock" class="my-5" ng-if="leads.length <= 0">
    <div id="timeout" ng-if="screenStatus == 'timeout'">
        <div class="text-center">
            <span class="">Sorry, it is taking longer than expected to collect all the resources. Please come back after
                some time</span>
        </div>
    </div>

    <div id="noDataFound" ng-if="screenStatus == 'dataFetched' && leads.length <= 0" class="text-center">
        <h1>Sorry, no resources were found for this query <span>&#9785;</span></h1>
    </div>

    <div id="errorBlock" ng-if="screenStatus == 'error'" class="alert alert-danger text-center">
        <strong>ERROR!</strong><span ng-if="errMessage"> {{errMessage}}</span>
    </div>

    <div id="loading" ng-if="screenStatus == 'loading' || screenStatus =='fetchingData' ">
        <div class="text-center">
            <div class="spinner-border" role="status">
            </div>
            <br>
            <span class="" ng-if="screenStatus =='fetchingData'">Give us a moment while we search over the internet<span>&#129488;</span></span>
        </div>
    </div>
</div>

<!-- <div id="timeout" ng-if="timeout == true">
    <div class="text-center">
        <span class="">Sorry, it is taking longer than expected to collect all the resources. Please come back after some time</span>
    </div>
</div> -->

<!-- data from here  -->
<div id="data" ng-if="leads.length > 0" class="row">
    <div class="col-sm-4" ng-repeat="x in leads" id="card-wrapper">
        <!-- <div id="data" ng-if="leads.length > 0" class=""> -->
        <!-- <div class="" ng-repeat="x in leads" id="card-wrapper"> -->
        <div class="card mx-auto">
            <div class="card-header row">
                <div class="float-left col text-left">
                    <span><b>{{x.contact_name}}</b></span>
                </div>
                <div class="float-rights">
                    <div class="float-right">
                        <span>Verified: <span
                                class="badge badge-info">{{getFromNowDate(x.last_verified_utc)}}</span></span>
                    </div>

                </div>
            </div>

            <div class="card-body" id="card-body-wrapper-outer">
                <div id="data" class="w-100 clearfix">

                    <div class="float-right">
                        <div class="data">
                            <div ng-repeat="y in x.phone_no.split('/')">
                                <span ng-if="y" id="phone"><span class="fa fa-phone"></span> <a href="tel:{{y}}">
                                        {{y}}</a></span><br ng-if="y">
                            </div>
                        </div>
                    </div>

                    <div class="float-left">
                        <div class="data">
                            <span ng-if="x.litres"><b>Litres Available:</b> <br ng-if="x.litres">{{x.litres}}</a></span>
                            <br ng-if="x.litres">
                        </div>
                        <div class="data">
                            <span><b>Source:</b><a href="{{x.web_source_homepage}}"><br>{{x.web_source_name}}</a></span>
                            <br>
                        </div>
                    </div>

                </div>
                <div id="extraData">
                    <div class="data">
                        <span ng-if="x.post_time"><b>Updated On:</b><br ng-if="x.post_time">
                            {{getDate(x.post_time)}}</a></span><br ng-if="x.post_time">
                        </span>
                    </div>
                </div>
                <div id="knowMore" class="data">
                    <span class="pointer rounded-lg light-back px-1" data-toggle="collapse"
                        data-target="#demo{{$index}}"><b>Know More ></b></span><br>
                    <div id="demo{{$index}}" class="collapse">
                        <div class="data">
                            <span ng-if="x.address"><b>Address:</b> <br ng-if="x.address">{{x.address}}</span><br
                                ng-if="x.address">
                        </div>
                        <div class="data">
                            <span ng-if="x.details"><b>Details:</b> <br ng-if="x.details">{{x.details}}</span><br
                                ng-if="x.details">
                        </div>
                        <div class="data">
                            <span ng-if="x.details == '' && x.address == ''">No More Details </span><br
                                ng-if="x.details">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center" ng-if="screenStatus == 'dataFetched'">
    <a class="font-larger mr-4 ml-4" ng-click="fetchPreviousBatch()" ng-if="pageNumber > 1">Previous</a>
    <a class="font-larger ml-4 ml-4" ng-click="fetchNextBatch()" ng-if="hasMoreData == true">Next</a>
</div>