<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CoviSearch</title>
  <base href=".">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="stylesheet" href="css/myStyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="js/myScript.js"></script>
</head>

<body>

  <div id="bodyDiv" ng-app="myApp" ng-controller="formCtrl" class="container-fluid">
    <div ng-include="'header.html'" class="text-center"></div>
    
    <div id="mainDiv">
      <!-- <div ng-include="'filter.html'"></div> -->
      <form name="filterForm" id="filter" class="text-center" ng-submit="MyForm.$valid">
        <div class="form-inline justify-content-center">

          <div class="form-group custom-input">
            <input name="filter.city" class="form-control form-input" list="city" ng-model="filter.city"
              placeholder="Enter the City" required>
            <datalist id="city">
              <option ng-repeat="x in cityList" value={{x}}>{{x}}</option>
            </datalist>
          </div>

          <div class="form-group custom-input">
            <select class="form-control form-input" ng-model="filter.resource"
              ng-options="x.displayName for x in resourceList" required>
              <option value="" disabled selected>Select the Resource</option>
            </select>
          </div>

          <div class="form-group custom-input">
            <button ng-click="submit()" ng-disabled="filterForm.$invalid"
              class="btn btn-outline-primary">SUBMIT</button>
          </div>
        </div>

      </form>

      <!-- <button ng-click="reset()" class="btn btn-outline-primary">RESET</button> -->
      <!-- <p>Currently showing data for {{filter.city}} and {{filter.resource}}</p> -->

      <div ng-include="'card.html'"></div>

    </div>

    <div ng-include="'footer.html'" class="text-center"></div>
  </div>

</body>

</html>