<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyApp</title>
  <base href=".">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="myStyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="myScript.js"></script>
</head>

<body>

  <div id="bodyDiv" ng-app="myApp" ng-controller="formCtrl" class="container-fluid">
    <div ng-include="'header.html'" class="text-center"></div>
    <div id="mainDiv">

      <div ng-include="'filter.html'"></div>

      <div class="text-center">
        <button ng-click="fetchPreviousBatch()" class="btn btn-outline-primary" ng-if="pageNumber > 1">Previous</button>
        <button ng-click="fetchNextBatch()" class="btn btn-outline-primary" ng-if="hasMoreData == true">Next</button>
      </div>

      <!-- <p>form = {{filter}}</p > -->
      <!-- <p>master = {{master}}</p> -->
      <p>Currently showing data for {{filter.city}} and {{filter.resource}}</p>
      <!-- <p ng-if="dataFetched == true">Currently showing data for {{citySearched}} and {{resourceSearched}}</p> -->
      <!-- <p>Looping data:</p> -->
      <div id="noDataFound" ng-if="dataFetched == true && leads.length <= 0 && waiting == false"
        class="bg-danger center">
        <span>No Data found</span>
      </div>


      <div id="loading" ng-if="waiting == true">
        <div class="text-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>


      <div ng-include="'card.html'"></div>

      <div class="text-center"  ng-if="waiting == false">
        <a ng-click="fetchPreviousBatch()" ng-if="pageNumber > 1">Previous</a>
        <a ng-click="fetchNextBatch()" ng-if="hasMoreData == true">Next</a>
        <!-- <button ng-click="fetchPreviousBatch()" class="btn btn-outline-primary" ng-if="pageNumber > 1">Previous</button>
        <button ng-click="fetchNextBatch()" class="btn btn-outline-primary" ng-if="hasMoreData == true">Next</button> -->
      </div>
    </div>

    <div ng-include="'footer.html'" class="text-center"></div>
  </div>

</body>

</html>