<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyApp</title>
  <base href=".">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="myStyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="myScript.js"></script>
</head>

<body>

  <div id="bodyDiv" ng-app="myApp" ng-controller="formCtrl" class="container-fluid">
    <div ng-include="'header.html'" class="text-center"></div>
    <!-- <div ng-include="'filter.html'"></div> -->
    <div id="mainDiv">
      
      <div id="filter" class="text-center">
        <div class="form-inline justify-content-center form-row">

          <div class="form-group col-6 custom-width">
            <label for="city">City:</label>
            <select id="city" class="form-control" ng-model="filter.city" ng-options="x.city for x in cityList" placeholder="Enter"></select>
          </div>

          <div class="form-group col-6 custom-width">
            <label for="resource">Resource:</label>
            <select id="resource" class="form-control" ng-model="filter.resource" " ng-options=" x.type for x in resourceList"></select>
          </div>
        </div>
        <button ng-click="submit()" class="btn btn-outline-primary">SUBMIT</button>
        <button ng-click="reset()" class="btn btn-outline-primary">RESET</button>

        <!-- </form> -->
      </div>

     <!-- <p>form = {{filter}}</p > -->
      <!-- <p>master = {{master}}</p> -->
      <p>Currently showing data for {{filter.city.city}} and {{filter.resource.type}}</p>
      <!-- <p>Looping data:</p> -->
      <div id="noDataFound" ng-if="leads.noOfLeads <= 0" class="bg-danger center">
        <span>No Data found</span>
      </div>
      <div id="loading" ng-if="dataFetched == false">
        LOADING............
      </div>
      <div id="data" ng-if="leads.noOfLeads > 0" class="">
        <div class="card" ng-repeat="x in leads.data ">
          <div class="card-header row">
            <div class="float-left col text-left">
              <span><b>{{x.name}}</b></span>
            </div>
            <div class="float-right col">
              <div class="float-right">
                <span>Verified: <span class="badge badge-info">{{x.lastverified}}</span></span>
              </div>

            </div>
          </div>
          <div class="card-body row">
            <div class="float-left col text-left">
              <span><b>Location:</b> {{x.location}}</span><br>
              <span><b>Category:</b> {{x.category}}</span><br>
              <span><b>Source:</b> {{x.source}}</span><br>
            </div>
            <div class="float-right col">
              <div class="float-right">
                <span><span class="fa fa-phone"></span> <a href="tel:{{x.phone}}">{{x.phone}}</a></span><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-include="'footer.html'" class="text-center"></div>
  </div>

</body>

</html>